beautifulsoup4==4.12.3
certifi==2024.7.4
deprecation==2.1.0
docopt==0.6.2
future==0.18.3
idna==3.7
lingua-franca
num2words==0.5.13
semantic-version==2.10.0
snips-nlu==0.20.2
snips-nlu-parsers==0.4.3
snips-nlu-utils==0.9.1
tqdm
wikipedia==1.4.0
fastapi~=0.114.0
pydantic~=2.9.0
python-multipart